
output/

regions/*

.spyproject/
.Rhistory

python/profile_archi3.Result

slim/par_sgcz00A0.txt

slim/par_sgcz00None0.txt

slim/big_n_par_sgcz00X1.txt

slim/par_sgcz00A1.txt

slim/par_sgcz00X0.txt

slim/par_sgcz00X1.txt

slim/par_sgcz00X10.txt

slim/par_sgcz00X11.txt

slim/par_sgcz00X12.txt

slim/par_sgcz00X13.txt

slim/par_sgcz00X14.txt

slim/par_sgcz00X15.txt

slim/par_sgcz00X16.txt

slim/par_sgcz00X17.txt

slim/par_sgcz00X18.txt

slim/par_sgcz00X19.txt

slim/par_sgcz00X2.txt

slim/par_sgcz00X3.txt

slim/par_sgcz00X4.txt

slim/par_sgcz00X5.txt

slim/par_sgcz00X6.txt

slim/par_sgcz00X7.txt

slim/par_sgcz00X8.txt

slim/par_sgcz00X9.txt

slim/tmp.out

.RData
