
output/tmp/*
output/trees/*
output/stats/*
output/out/*

regions/*

.spyproject/
.Rhistory

python/profile_archi3.Result

slim/par*
slim/tmp.out

.RData

*.tmp
*.pyc

python/profiling/

other/

slurm/submissions/*.out
