
output/

regions/*

.spyproject/
.Rhistory

python/profile_archi3.Result

slim/par*

slim/tmp.out

.RData

*.tmp

python/__pycache__/tree_tools.cpython-37.pyc

python/profiling/

results/Xchr_check/
